.App {
  font-family: sans-serif;
  text-align: center;
}
  
input {
  padding: 1rem;
  width: 40%;
}

h1 {
  background-color: #8FBC8F;
  padding: 1rem;
  margin: 1rem 0;
  border-bottom-left-radius: 2rem;
}
